.btn-white{
    border-radius: 30px;
    border:1px solid white;
    color:white;
    background:transparent;
    width: 350px;
    height: 60px;
    font-weight: bold;
    display: block;
    position: relative;
    &:hover{
        border:1px solid $primary;
        color:$primary;
    }
}

.btn-black{
    border-radius: 30px;
    border:1px solid black;
    color:black;
    background:transparent;
    width: 350px;
    height: 60px;
    font-weight: bold;
    display: block;
    &:hover{
        color:$primary
    }
}

.more{
    color:#AC8A46;
    font-size: 16px;
}

.btn-subscribe{
    background-color: $primary;
    color:white;
    border-radius: 0 4px 4px 0;
    height: 60px;
    width: 131px;
}
.email-text{
    border: 2px solid $primary;
    width: 219px;
    height: 60px;
    padding-left: 16px;
}